mixin services
  section.services#services 
    .container.container-content  
      .services-inner 
        .title-3.services__title Услуги 
        .services__card-wrapper 
          .services__card.services__card_1 
            .services__card__info 
              .services__card__title Маникюр (без покрытия) 
              .services__card__price Цена 500 руб.
            a(href="#").services__card__btn Записаться →
          .services__card.services__card_2 
            .services__card__info 
              .services__card__title Педикюр (только пальчики) 
              .services__card__price Цена 800 руб.
            a(href="#").services__card__btn Записаться →
