.about{
  background: rgb(255, 242, 244);
  padding: 100px 0;

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box{
    width: 50%;

    &_left{
      margin-right: 30px;
    }

    &_right{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image{
      height: 550px;
    }
  }

  &__title{
    margin-bottom: 50px;
  }

  &__list{
    padding-left: 20px;

    &__item{
      list-style: disc;
      font-family: 'Nunito';
      font-size: 18px;
      line-height: 162%;
    }
  }
}

.subtitle{
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 162%;
  display: flex;
}

.about__price-no{
  text-decoration: line-through;
  color: red;
  margin: 0 5px 0 10px;
}