.contacts{
  padding: 100px 0;

  &-inner{
    display: flex;
    justify-content: space-between;
  }

  &__box{
    width: 50%;
  }

  &__title{
    margin-bottom: 50px;
  }

  &__list{
    margin-bottom: 30px;

    &__item{
      color: #363636;
      font-family: 'Golos text';
      font-size: 18px;
      line-height: 155%;
      font-weight: 400;
      padding-left: 50px;
    }
  }

  &__link{
    border: 3px solid $pink;
    border-radius: 8px;
    padding: 10px 30px;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 1.62;
    font-weight: 400;
    color: #000;
  }
}

.map{
  height: 500px;
  width: 100%;
  border-radius: 8px;
}