@font-face {
    font-family: 'Golos Text';
    src: url('./fonts/GolosText/GolosText-Regular.eot');
    src: url('./fonts/GolosText/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GolosText/GolosText-Regular.woff2') format('woff2'),
        url('./fonts/GolosText/GolosText-Regular.woff') format('woff'),
        url('./fonts/GolosText/GolosText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('./fonts/GolosText/GolosText-Bold.eot');
    src: url('./fonts/GolosText/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GolosText/GolosText-Bold.woff2') format('woff2'),
        url('./fonts/GolosText/GolosText-Bold.woff') format('woff'),
        url('./fonts/GolosText/GolosText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.eot');
    src: url('./fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Regular.woff') format('woff'),
        url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Bold.eot');
    src: url('./fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Bold.woff') format('woff'),
        url('./fonts/Nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.eot');
    src: url('./fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Bold.eot');
    src: url('./fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

