mixin about-list 
  ul.about__list 
    li.about__list__item Все инструменты проходят тщательную стерилизацию по нормам СанПиН. 
    li.about__list__item Работаю на дому. Также есть возможность выезда к Вам. 
    li.about__list__item Время моей работы занимает около 3,0-3,5 часов.
    li.about__list__item Мои принципы работы – удобство, качество, безопасность. Учту все ваши пожелания.