include about-list.pug

mixin about 
  section.about
    .container 
      .about-inner 
        .about__box
          h3.title-3.about__title Обо мне
          +about-list
        .about__box 
          img(src="", alt="sertificate")