mixin list
  ul.list
    li.list__item 
      a(href="#").header__link.list__link Обо мне
    li.list__item
      a(href="#").header__link.list__link Услуги
    li.list__item  
      a(href="#").header__link.list__link Портфолио
    li.list__item  
      a(href="#").header__link.list__link Контакты
    li.list__item  
      a(href="#").header__link.list__link Прайс
