mixin list
  ul.list
    li.list__item 
      a(href="#about").header__link.list__link Обо мне
    li.list__item
      a(href="#services").header__link.list__link Услуги
    li.list__item  
      a(href="#portfolio").header__link.list__link Портфолио
    li.list__item  
      a(href="#pricelist").header__link.list__link Прайс
    li.list__item  
      a(href="#contacts").header__link.list__link Контакты
   
