include footer-logo.pug
include footer-contacts.pug
include footer-social.pug

mixin footer 
  footer.footer 
    .container 
      .footer-inner 
        +footer-logo
        +footer-contacts
        +footer-social