mixin footer-contacts 
  .footer__box
    a(href="#").footer__contact.footer__contact_phone +888888888
    .footer__contact Омск, ул. Заозёрная, 16
    .footer__contact г. Москва, ул. Тверская, дом. 1
