mixin footer-social 
  .footer__box 
    .footer__title Мои социальные сети
    .footer__social-wrapper
      a(href="#").footer__social
        img(src=require('./images/vk-1.svg') alt="icon").footer__social__image
      a(href="#").footer__social
        img(src=require('./images/viber.svg') alt="icon").footer__social__image
      a(href="#").footer__social
        img(src=require('./images/telegram.svg') alt="icon").footer__social__image
      a(href="#").footer__social
        img(src=require('./images/whatsapp.svg') alt="icon").footer__social__image
