mixin pricelist 
  section.pricelist 
    .container 
      .pricelist-inner 
        h3.title-3.pricelist__title Прайслист на услуги
        table.table 
          tr.table__row 
            td.table__data Маникюр
            td.table__data 500 ₽
          tr.table__row  
            td.table__data Педикюр (только пальчики)
            td.table__data 800 ₽
          tr.table__row  
            td.table__data Маникюр без покрытия
            td.table__data 300 ₽
          tr.table__row  
            td.table__data Педикюр (только пальчики) без покрытия
            td.table__data 400 ₽
          tr.table__row  
            td.table__data Снятие без последующего покрытия
            td.table__data 150 ₽
          tr.table__row  
            td.table__data Ремонт одного ногтя
            td.table__data 50 ₽
          tr.table__row  
            td.table__data Массаж рук
            td.table__data 200 ₽
          tr.table__row  
            td.table__data Ремонт ногтя
            td.table__data 500 ₽
          tr.table__row  
            td.table__data Выезд
            td.table__data В зависимости от удаленности