include components/header/header.pug
include components/desktop/desktop.pug
include components/about/about.pug
include components/services/services.pug
include components/portfolio/portfolio.pug
include components/pricelist/pricelist.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title elvi.nails
  body 
    +header
    +desktop
    +about
    +services
    +portfolio
    +pricelist