mixin desktop
  section.desktop 
    .container.container-content 
      .desktop-inner 
        .desktop__box 
          h3.title.desktop__title 
            span.desktop__title__box Привет!
            span.desktop__title__box Меня зовут 
              span.desktop__title__box_name Эльвира.
          .desktop__info 
            .desktop__info__item Я сертифицированный мастер маникюра.
            .desktop__info__item Моя главная цель — чтобы каждая девушка или женщина могла получить качественные услуги маникюра по приемлемой цене. 
            .desktop__info__item Буду стараться, чтобы Вы остались довольны и, как следствие, у Вас возникло желание ко мне вернуться.
          a(href="#about").desktop__link Подробнее 
        .desktop__box 
          img(src=require('./images/photo.png') alt="photo_1").desktop__box__image
        