mixin contacts 
  section.contacts#contacts 
    .container.container-content  
      .contacts-inner
        .contacts__box 
          h3.title-3.contacts__title Контакты
          ul.contacts__list
            li.contacts__list__item +888888888
            li.contacts__list__item Омск, ул. Заозёрная, 16
            li.contacts__list__item Омск, ул. Заозёрная, 16
          a(href="#").contacts__link Записаться
        .contacts__box 
          .map#map